header {
    background-color: #435661;
    font-size: larger;
    display: flex;
    justify-content: space-between;

    & ul { 
        list-style: none;
        display:flex;

    }

    & li {
        color: #aac7d8;
        text-align: right;
        padding: 10px;
        font-size: larger;
    }

    & h1 {
        background-color: #aac7d8;
        color: #29353C;
        width: fit-content;
        margin-left: 15px;
    }
}


/* I didn't find a picture I liked for the hero so I decided on using a color block instead*/
.hero {
    background-color: #aac7d8;
    width: 100vw;
    height: 200px;
    margin:0;
    padding:0; 
    
    & figcaption {
        color: #435661;
        font-size: xx-large;
        font-weight: bolder;
        position: absolute;
        margin-top: 50px;
        left: 80%;
     
    }
}

.main-img{
    height: 400px;
    padding-bottom: 80px;
}
& img{
    height: 100%;
    width: 98%;
    border: 8px solid #aac7d8;
}

& figcaption {
    position: absolute;
    margin-top: -75px;
    margin-left: 15px;
    background-color: #aac7d8; 
    color: #435661;
    width: fit-content;
    font-size: xx-large;
    font-weight: bolder;
}

.secondary-img{
    display: flex;
    justify-content: space-between;

& img{
    width: 38vw;
    max-height: 350px;
    border: 8px solid #aac7d8;
}
}

.color {
    color: #435661;
}

.page-section{
    display:flex;
    justify-content: flex-start;
    gap:2vw;
    margin-bottom: 2vh;
}
.title-container{
    border-right: 4px solid #aac7d8;
    min-width: 84px;
    max-width: 84px;
    padding:1%;
}
.content{
    width:80vw;
    font-size: x-large;

    & ul{
        list-style: none;
        display:flex;
        justify-content: space-evenly;
        
    }
}

footer {
    color: #435661;
    text-align: center;
}


@media screen and (max-width:414px), screen and (max-height:896px){
    header{
        flex-direction: column;
    }
    
    .content ul {
        flex-direction: column;
    }
}