header {
    background-color: #435661;
    font-size: larger;
    display: flex;
    justify-content: space-between;

    & ul { 
        list-style: none;
        display:flex;

    }

    & li {
        color: #aac7d8;
        text-align: right;
        padding: 10px;
        font-size: larger;
    }

    & h1 {
        background-color: #aac7d8;
        color: #29353C;
        width: fit-content;
        margin-left: 15px;
    }
}

.hero {
    width: 100vw;
    margin:0;
    padding:0;
}
.hero img{
    width:98.2vw;
    height:250px;
}

.page-section{
    display:flex;
    justify-content: flex-start;
    gap:2vw;
    margin-bottom: 2vh;
}
.title-container{
    border-right: 4px solid #aac7d8;
    min-width: 84px;
    max-width: 84px;
    padding:1%;
}
.content{
    width:80vw;
    font-size: x-large;
}
.content ul{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    
}

.main-img{
    height: 400px;
    padding-bottom: 80px;
}

.main-img figcaption {
    margin-top: -50px;
    margin-left: 15px;
    background-color: #aac7d8; 
    color: #435661;
    width: fit-content;
    font-size: larger;
    font-style: bolder;
}

.main-img img{
    height: 100%;
    width: 100%;
    border: 8px solid #aac7d8;
}

.secondary-img{
    display: flex;
    justify-content: space-between;
}

.secondary-img img{
    width: 40vw;
    max-height: 350px;
    border: 8px solid #aac7d8;
}

.color {
    color: #435661;
}

footer {
    color: #435661;
    text-align: center;
  
}

