header {
    background-color: #435661;
    font-size: larger;
    display: flex;
    justify-content: space-between;

    & ul { 
        color: #aac7d8;
        list-style: none;
        display:flex;

    }

    & li {
        text-align: right;
        padding: 10px;
        font-size: larger;
    }

    & h1 {
        background-color: #aac7d8;
        color: #29353C;
        width: fit-content;
        margin-left: 15px;
    }
}

.hero {
    width: 100vw;
    margin:0;
    padding:0;
}
.hero img{
    width:98.2vw;
    height:250px;
}

.page-section{
    display:flex;
    justify-content: flex-start;
    gap:2vw;
    margin-bottom: 2vh;
}
.title-container{
    border-right: 2px solid #aac7d8;
    min-width: 84px;
    max-width: 84px;
    padding:1%;
}
.content{
    width:80vw;
}
.content ul{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    
}



footer {
    color: #29353C;
  
}

